# files
*.csr
*.crt
*.key
*.ver
*.ks
*.ts
*.p12
*.jks
*.jceks
*.token
*.pem
*.pw
*.kubeconfig
*-kubeconfig.yaml
*.profile
*.trace
*.log
*-test.yaml
*_rosa_cluster.yaml

pull_secret.*
splitted-import*.yaml

api_server_url
kubeconfig_path
rosa_cluster_name
auth_file

ocm/join.sh

import.yaml
klusterlet.crdsv1.yaml
grpc-local.yaml

cert.json
server.host
source.json
consumer.json

# dirs
log
self-certs
.claude
