# files
*.csr
*.crt
*.key
*.ver
*.ks
*.ts
*.p12
*.jks
*.jceks
*.token
*.pem
*.pw
*.kubeconfig
*-test.yaml
pull_secret.*
import.yaml
klusterlet.crdsv1.yaml
*.log
api_server_url
kubeconfig_path
rosa_cluster_name
ocm/join.sh
auth_file
*.profile
*.trace
*_rosa_cluster.yaml
splitted-import*.yaml
*-kubeconfig.yaml
cert.json
server.host
source.json
consumer.json

# dirs
log
self-certs
