# files
*.crt
*.key
*.kubeconfig
*-test.yaml
*.token
*.ver
pull_secret.*
import.yaml
klusterlet.crdsv1.yaml
*.pem
*.log
api_server_url
kubeconfig_path
ocm/join.sh
auth_file
*.profile
*.trace

splitted-import*.yaml
*-kubeconfig.yaml

# dirs
log
